@use "../../styles/colors.scss" as *;

.wrapper {
  max-width: 450px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 30px $box-shadow;
  text-align: center;
  font-family: Arial, sans-serif;
}

.title {
  margin-bottom: 20px;
  color: $primary-800;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.label {
  text-align: left;
  margin-bottom: 4px;
}

.input {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid $gray-300;
  outline: none;
  font-size: 0.95rem;
  transition: all 0.3s;

  &:focus {
    border-color: $primary-800;
    box-shadow: 0px 0px 13px 3px $primary-200;
  }
}

.fileLabel {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 15px;
  color: $white;
  background-color: $primary-800;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.fileInput {
  display: none;
}

.imgWrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: $box-shadow;
}

.button {
  padding: 10px 15px;
  background: $underline-gradient;
  color: $white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 15px;
}
