@use "../../styles/colors.scss" as *;

.modalOverlay {
  position: fixed;
  inset: 0;
  background: $box-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  backdrop-filter: blur(3px);
}
.calendarContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.modalContainer {
  background: $white;
  border-radius: 16px;
  padding: 24px 28px;
  width: 900px;
  height: 90vh;
  overflow-y: auto;
  box-shadow: 0 8px 25px $box-shadow-hover;
  animation: fadeIn 0.3s ease-in-out;

  .modalTitle {
    text-align: center;
    margin-bottom: 16px;
    color: $gray-700;
    font-size: 1.2rem;
    font-weight: 600;
  }
}
