/* Primary */
$primary-900: #173f4e;
$primary-800: #4b9692;
$primary-700: #4e6362;
$primary-500: #6e7e82;
$primary-300: #a0b1b4;
$primary-200: #a4c3b2;
$primary-100: #4b969229;
$primary-50: rgba(164, 195, 178, 0.14);

$secondary-900: #312b20;
$secondary-800: #453f2d;    
$secondary-700: #4f2f19;    
$secondary-500: #ad65318f;            
$secondary-300: #d2af94;            
$secondary-200: #efc3a2;            
$secondary-100: #fff7ed;

/* Neutral / Gray */
$gray-900: #111827;
$gray-700: #374151;
$gray-500: #6b7280;
$gray-300: #d1d5db;
$gray-100: #f3f4f6;
$gray-50: rgba(128, 128, 128, 0.256);

$green-500: rgb(11, 133, 11);
$green-400: rgb(15, 177, 15);
$green-200: rgba(164, 195, 178, 0.25);
$green-100: rgba(213, 241, 213, 0.521);
$green-50: rgba(175, 244, 175, 0.211);

$blue-300:rgb(143, 155, 231);
$blue-100:rgba(143, 155, 231, 0.203);
$blue-50:rgba(143, 155, 231, 0.133);

$box-shadow:rgba(0, 0, 0, 0.05);
$box-shadow-hover: rgba(0, 0, 0, 0.1);
$box-shadow-dark: rgba(0, 0, 0, 0.25);



$error: #ef4444;

/* White */
$white: #ffffff;

/* Black */
$black: #000000;

/* Tooltip */
$tooltip-bg: #24314b;

/* Hover / Gradient */
$hover-bg: linear-gradient(to right, #dbeafe, #bfdbfe);
$underline-gradient: linear-gradient(to right, #4b9692, #173f4e);

