@use "../../styles/colors.scss" as *;

.tabButton {
  padding: 8px 14px;
  border-radius: 12px;
  border: 1px solid $primary-300;
  background-color: $white;
  color: $primary-900;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 6px $box-shadow;

  &:hover {
    border: 1px solid $primary-800;
    background-color: $primary-100;
    box-shadow: 0 4px 10px $box-shadow-hover;
  }
}

.active {
  border: 1px solid $primary-800;
  background-color: $primary-200;
  box-shadow: 0 4px 10px $box-shadow-hover;
}
