.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: linear-gradient(90deg, #3b82f6, #2563eb);
}
