@use "../../styles/colors.scss" as *;

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  height: 25px; 
  width: 25px;
  border-radius: 50%; 
  background: $primary-800;
}
