@use "../../styles/colors.scss" as *;

.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
    font-size: 28px;
    font-weight: 700;
    color: $primary-800;
    padding: 20px 0;
}