@use "../../styles/colors.scss" as *;

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: all 0.3s ease;
  z-index: 3;
}

.linksContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.link {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  font-size: 1rem;
  font-weight: 600;
  color: $gray-700;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    color: $primary-800;
    transform: scale(1.05);
  }
}

.active {
  color: $primary-800;
}

.tooltip {
  background-color: $tooltip-bg !important;
  color: $white !important;
  padding: 6px 10px !important;
  border-radius: 8px !important;
  font-size: 12px !important;
  font-weight: 500;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

.langContainer {
  display: flex;
  gap: 0.5rem;
}

.langButton {
  background: rgba(255, 255, 255, 0.3);
  color: $gray-700;
  box-shadow: "none";
  transform: scale(1);
  padding: 0.4rem 0.6rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);

  &:hover {
    background: linear-gradient(to right, $primary-200, $primary-800);
    color: $white;
  }
}

.langButtonActive {
  background: linear-gradient(to right, $primary-200, $primary-800);
  color: $white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.burger {
  display: none;
  position: relative;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.burger svg {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.iconMenu {
  opacity: 1;
  transform: rotate(0deg);
}

.iconClose {
  opacity: 0;
  transform: rotate(-180deg);
}

.burger.active .iconMenu {
  opacity: 0;
  transform: rotate(180deg);
}

.burger.active .iconClose {
  opacity: 1;
  transform: rotate(0deg);
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .linksContainer {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }

  .linksContainer.mobileOpen {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }
}
