@use "../../styles/colors.scss" as *;

.filters {
  display: flex;
  gap: 20px;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid $gray-100;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s;
}
