@import "../../styles/colors.scss";

.actionButton {
  color: $white;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  cursor: pointer;
  font-weight: 600;
  transition: "all 0.3s";
}

.primary {
  background-color: $primary-800;

  &:hover {
    background-color: $primary-800;
    opacity: 0.85;
  }
}

.secondary {
  background-color: $primary-900;

  &:hover {
    background-color: $primary-700;
    opacity: 0.85;
  }
}
