.container {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid $black;
  border-radius: 10px;
  padding: 10px 20px;
}

.card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.photo {
  width: 120px;
  height: 170px;
  object-fit: cover;
  border-radius: 8px;
}

.checkbox {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
