body {
width: 100%;
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: #f5f5f5;
}

.booked {
  background-color: pink !important;
  color: #9d1a1a !important;
  border: 2px solid #9d1a1a !important;
  font-weight: bold !important;
  pointer-events: none;
}

.after-booked {
  background-color: pink !important;
  color: #666 !important;
  pointer-events: none;
}

.before-booked {
  background-color: rgb(210, 210, 240) !important;
  color: #666 !important;
  pointer-events: none;
}
