body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.booked {
  background-color: pink;
  color: #9d1a1a;
  border: 1px solid #9d1a1a !important;
  font-weight: bold;
  pointer-events: none;
}

.after-booked {
  background-color: pink;
  color: #666;
  pointer-events: none;
}

.before-booked {
  background-color: rgb(210, 210, 240);
  color: #666;
  pointer-events: none;
}
