@import "./styles/colors.scss";

body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.booked {
  background-color: $primary-200;
  color: $primary-900;
  border: 1px solid $primary-900 !important;
  font-weight: bold;
  pointer-events: none;
}

.after-booked {
  background-color: $primary-300;
  color: $primary-900;
  pointer-events: none;
}

.before-booked {
  background-color: $primary-100;
  color: $primary-700;
  pointer-events: none;
}

.react-calendar {
  border: none;
  border-radius: 16px;
  padding: 12px;
  font-family: inherit;
}

.react-calendar__tile--now {
  background: $secondary-500 !important;
  color: $white !important;
}

.react-calendar__tile--active {
  background: $primary-800 !important;
  color: white !important;
}
