.container {
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: "pointer";
}

.photo {
  width: 100%;
  object-fit: contain;
  transition: transform 0.3s;
}

.info {
  margin: 10px 0;
  color: #333;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
  flex-wrap: wrap;
}
