@import "../../styles/colors.scss";

.container {
  border-radius: 12px;
  width: 300px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: "pointer";
}

.photo {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s;
}

.info {
  margin: 5px 0;
  color: $gray-700;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
  flex-wrap: wrap;
}
